body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100%;
}

.header {
    background-color: rgb(0, 0, 0);
    height: 100px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 500;
}

#headername {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 65px;
    text-decoration: none;
    font-size: 22px;
    min-width: 260px;
}

.maincontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 45px;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.allposts {
    flex: 1;
    margin-bottom: 20px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-bottom: 1px solid black;
    min-width: 500px;
}

#searchForm {
    display: flex;
    align-items: center;
    border-radius: 0;
    background-color: rgb(24, 24, 24);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

#searchForm button {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
    border: none;
}

#searchForm button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.post.highlight {
    animation: blinkAnimation 1s infinite alternate;
}

@keyframes blinkAnimation {
    to {
        background-color: rgb(24, 24, 24, 0.2);
    }
}

.allposts p {
    font-size: 20px;
    color: black;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95px;
    min-width: 500px;
    color: #000000;
    margin-bottom: 14.5px;
    border: 1px solid black;
    text-decoration: none;
    transition: background-color 1s;
}

.post h4 {
    margin: 0;
    margin-left: 8px;
    font-size: 24px;
    font-weight: 300;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer-content {
    display: inline-block;
}
