body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    background-color: rgb(0, 0, 0);
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 500;
}

.header.hidden {
    display: none;
}

#headername {
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 65px;
    text-decoration: none;
    font-size: 22px;
    min-width: 290px;
}

.container {
    margin-top: 0; 
    position: relative;
    width: 100%;
    height: 795px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    position: absolute;
    top: 3vh;
    left: 25vw;
    right: 15vw;
    bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 3; 
    padding: 20px;
    max-width: 600px;
    min-width: 600px;
}

.large-text {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.small-text {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.button-container {
    margin-top: 1rem;
    text-align: center;
}

.button-container button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    font-family: 'Krub', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    background-color: white;
    color: black;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/test2.jpg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1; 
    opacity: 0.9;
}

.transparent-box {
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: aliceblue;
}

.inner-container {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    padding: 0;
    width: 100%;
    height: 1263px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional-container {
    background-color: #00000000;
    border: 1px solid rgb(250, 250, 250);
    margin-left: 10%; 
    margin-right: 10%; 
    height: 1048px;
    width: 980px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}

.allposts {
    height: 80px;
    min-height: 80px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.postinfo {
    display: flex;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    border-top: 1px solid rgb(223, 223, 223);
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 5;
    width: 85%;
    margin: 0 auto;
    color: black;
}

.postinfo h4 {
    margin: 0;
    margin-left: 72.4%;
}

.postauthor {
    display: flex;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 2px;
    z-index: 5;
    width: 85%;
    margin: 0 auto;
    color: black;
    font-size: 17px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.post {
    flex: 1;
    flex-basis: calc(50% - 10px);
    height: 454px;
    max-width: 460px;
    margin: 15px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
}

.post img {
    min-width: 100%;
    min-height: 100%;
    display: block;
    opacity: 0.8;
}

.post p {
    text-align: left;
    line-height: 38px;
    margin-left: 18px;
    position: absolute;
    z-index: 1;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 24.5px;
    bottom: 20px;
}

.poststext {
    text-align: left;
    line-height: 38px;
    font-size: 20px;
    margin-left: 18px;
    position: absolute;
    text-decoration: none;
    color: black;
}

.split-container {
    display: flex;
    min-height: 810px;
    max-height: 810px;
}

.left-box,
.right-box {
    flex: 2;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.inner-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 600px;
    height: 616px;
    background-color: #fff;
}

.sub-box {
    background-color: rgb(24, 24, 24);
    color: #ffffffc2;
}

.sub-box:first-child {
    height: 15%;
    width: calc(100% - 35px);
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 35px;
    font-size: 38px;
    font-weight: bold;
}

.sub-box:nth-child(2),
.sub-box:nth-child(3) {
    height: 42.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box:nth-child(2) .sub-sub-box,
.sub-box:nth-child(3) .sub-sub-box {
    width: 45%;
    height: 100%;
    min-height: 261px;
    min-width: 261px;
    max-height: 261px;
    max-width: 261px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
    font-size: 25px;
    text-decoration: none;
    color: inherit;
}

.sub-box:nth-child(2) .sub-sub-box p,
.sub-box:nth-child(3) .sub-sub-box p {
    margin: 5px 0; 
}

.right-box {
    background-color: rgb(90, 90, 90);
    overflow: hidden;
    position: relative;
}

.right-box img {
    display: block;
    position: absolute;
    min-width: 100%;
}

.additional-box {
    width: 100%;
    height: 590px; 
    background-color: rgb(0, 0, 0);
    color: azure;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contact {
    flex: 1;
    max-width: 100%;
    min-width: 540px;
    /* height: 590px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
.contacttext {
    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.ourstreet {
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
}

.ouremail {
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
}

.ournumber {
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
}

.contactinfo {
    flex: 1;
    min-width: 540px;
    height: 590px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.name, .email, .number, .address, .topic, .message {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 12px;
}

.entermessage {
    resize: none;
}

.infobutton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.enterinfo {
    width: 100%;
    padding: 17px 20px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: black;
}

.enterinfo:hover {
    background-color: rgb(24, 24, 24);
    color: azure;
}

.nametext, .emailtext, .numbertext, .addresstext, .topictext, .messagetext {
    text-align: left;
    margin-right: 40px;
    margin-bottom: 10px;
}

.entername, .enteremail, .enternumber, .enteraddress, .entertopic, .entermessage {
    background-color: rgb(24, 24, 24);
    color: white;
    border: none;
    padding: 10px;
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 10px; 
}

.entertopic {
    height: 30px;
}

.entermessage {
    height: 70px;
}


#map {
    width: 100%;
    height: 470px; 
}

footer {
    background-color: rgb(0, 0, 0); 
    color: #fff; 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0; 
    height: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer-content {
    display: inline-block;
}

.leaflet-tile-pane {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}


.leaflet-marker-icon {
    filter: hue-rotate(145deg); 
}

@media only screen and (max-width: 767px) {
    .header {
        height: 60px;
        justify-content: center;
    }

    #headername {
        margin-left: 0;
        text-align: center;
    }

    .content-container {
        margin: 0 auto;
        padding: 10px;
        max-width: 767px;
        min-width: 350px;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
    }

    .large-text {
        display: flex;
        text-align: center;
        width: auto;
        font-size: 2.5rem;
    }

    .small-text {
        font-size: 1rem;
    }

    .inner-container {
        min-height: 1577px;
    }

    .additional-container,
    .posts,
    .post {
        width: 100%;
    }

    .additional-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: auto;
        min-height: 1577px;
    }

    .posts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }

    .post {
        width: 350px;
        height: auto;
        flex-basis: auto;
        margin: 15px 0;
    }

    .post img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .post p,
    .postauthor,
    .postinfo {
        margin-left: 0;
        margin-right: 0;
    }

    .postinfo h4 {
        margin-left: 0;
    }

    .postauthor,
    .postinfo {
        margin-left: auto;
        margin-right: auto;
    }

    .postinfo {
        justify-content: right;
    }

    .split-container {
        display: flex;
        flex-direction: column;
        min-height: 1069.5px;
    }

    .left-box,
    .right-box {
        min-width: auto;
        flex: 1;
        max-height: 713px;
    }

    .left-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .inner-box {
        max-width: 100%;
    }

    .inner-box .sub-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sub-box:first-child {
        height: auto;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        font-size: 28px;
    }

    .sub-box:nth-child(2),
    .sub-box:nth-child(3) {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-box:nth-child(2) .sub-sub-box,
    .sub-box:nth-child(3) .sub-sub-box {
        width: 80%;
        height: auto;
        min-height: 150px;
        max-height: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        font-size: 18px;
    }

    .right-box {
        height: 356.5px;
    }

    .right-box img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .additional-box {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: auto;
    }

    .contact {
        margin-top: 25px;
        margin-bottom: 35px;
    }

    .contact,
    .contactinfo {
        min-width: auto;
        max-width: 100%;
        height: auto;
    }

    .name,
    .email,
    .number,
    .address,
    .topic,
    .message {
        flex-direction: column;
    }

    .name,
    .email,
    .number,
    .address,
    .topic,
    .message {
        text-align: left;
        margin-right: 0;
    }

    .nametext,
    .emailtext,
    .numbertext,
    .addresstext,
    .topictext,
    .messagetext {
        text-align: center;
        margin-right: 0;
    }

    .entername,
    .enteremail,
    .enternumber,
    .enteraddress,
    .entertopic,
    .entermessage {
        width: 100%;
        max-width: 80%;
        margin-left: 20px;
        margin-right: 20px;
    }

    footer {
        height: auto;
        padding: 10px 0;
    }
}
